<h1>id: <%= @task.id %> の詳細ページ</h1>

<P>ステータス：　<%= @task.status %></P>
<P>項目(コンテンツ)：　<%= @task.content %></P>

<%= link_to "一覧に戻る", tasks_path %>
<%= link_to "タスクリストを変更する", edit_task_path(@task) %>
<%= link_to "タスクリストを削除する", @task, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
